body{
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  margin: 10px 5px 10px 500px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
}

h2 {
  margin: 0px 0px 0px 10px;
}

.mapa {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#map {
  height: 500px;
  width: 1300px;
  z-index: 10;
  border: 5px solid blue;
}

#contenedor_lista {
  display: grid;
  grid-template-columns: repeat(80px);
  grid-gap: 10px;
  border: 20px solid white;
}

.ubicacion_lista {
  display: grid;
  grid-template-columns: 450px 450px 150px 150px;
  grid-gap: 10px;
  background-color: rgba(45, 57, 53, 0.146);
  padding: 5px;
}

.boton_eliminar {
  background-color: rgba(242, 89, 89, 0.833);
  border-radius: 4px;
  cursor: pointer;
}

.boton_dirigir {
  background-color: rgba(89, 242, 219, 0.833);
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos basicos */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background: rgb(96, 197, 96);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/*CUSTOM VARIABLES HERE*/

.btn-group {
  text-align: center;
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/*CUSTOM VARIABLES HERE*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 20;
}

/*CUSTOM VARIABLES HERE*/

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

/*CUSTOM VARIABLES HERE*/

.modal-dialog>* {
  padding: 1rem;
}

section{
  display: grid;
  gap: 10px;
  grid-template-columns: 300px min-content(100px);
}

.close-modal{
  background-color: rgb(222, 88, 88);
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .modal-close {
  font-size: 1.5rem;
}

.modal p+p {
  margin-top: 1rem;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}